<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Datos Participantes</h1>
    <ul>
        {% for datos in object_list %}
             <li>
                <p>NOMBRE: {{datos.nombre}} </p>
                <p>
                    <a href="{% url 'Detail' datos.id %}">Ver</a>
                    <a href="{% url 'Edit' datos.id %}">Editar</a>
                    <a href="{% url 'Delete' datos.id %}">Borrar</a>
                    <button><a href= "{% url 'Inicio' %}">Regresar</a></button>

                </p>
             </li>
    
        {% endfor %}    
            
    </ul>